body{
    background: linear-gradient(to top, #336699 0%, #003366 100%);
background-size: cover;
background-attachment: fixed;
}

.logo {
    display: flex;
    justify-content: center;
    max-height : 110px;
    width : auto;
}


nav { 
    display: flex;
    justify-content: center;
    font-family: "open sans";
    padding: 0 15px;
    
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
 
    
}

.leftmenu {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "roboto condensed";
    font-size: 130%;
    margin-right: 100px;
    margin-left: 100px;
}

.imagemid {
    order: 2;

    display: flex;
    justify-content: center;
}

.rightmenu {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "open sans";
    margin-left: 100px;
    margin-right: 60px;
}

a{ 
    color: #c8c8c8;
    text-decoration: none;

}

.leftmenu button {
    font-family: "roboto condensed";
    background-color: #1a1a1a; /* Green background */
    border: 1px solid #333333; /* Green border */
    border-radius: 8px;
    padding: 15px 90px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 70%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    
}

.leftmenu button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .leftmenu button:hover {
    background-color: #333333;
    font-family: "roboto condensed";
  }